body {
    margin: 0;
    padding: 0px 40px;  
    background: #fefefe;
    color: #222;
}

h1 {
    font-weight: 300;
}

.top-container {
    /*text-align: center;*/
    display: inline-block;
    vertical-align: middle; 
}

.bear {
  width: 35%;
  display: inline-block;
  vertical-align: middle; 
}

.name {
  font-family: 'Merienda One', cursive;
  font-size: 250%
}

.saying {
  font-family: 'Merienda One', cursive;
}

.top-group, .current-date {
  text-align: center;
  font-family: 'Merienda One', cursive;
}

.current-date {
  /*padding: 40px 0px;  */
   /*border-bottom: 3px solid #000; 
   line-height:0.1em; 
   margin:10px 0 20px;*/
}

/*.top-group {
  background: #F9F9F9;
}*/

.restaurant-link {
    text-decoration: none;
    color: #222;
}

.link-icon {
    margin-left: 5px;
    font-size: 65%;
    color: #888;
}

.menus {
  /*padding: 0px 40px;  */
  /*background: #ddd;*/
}

.menu {
    margin-bottom: 80px;
    font-family: 'Merienda', cursive;
    /*border-radius: 25px;*/
    /*background: #fff;*/
    max-width:500px;
}

.meal-name {
    font-size: 13pt;
    font-weight: normal;
    
    text-transform: uppercase;
    color: #bbb;
    
}

.meal-contents {
  font-family: 'Vollkorn', serif;
}

.meal-prices {
    display: inline-block;
    
    margin-left: 15px;
    font-size: 70%;
    font-weight: normal;
    
    color: #888;
}

.meal-diets {
    display: inline-block;
    
    margin-left: 15px;
    
    font-size: 75%;
    color: #888;
    
    font-family: 'Vollkorn', serif;
}

ul {
    list-style-type: none;
    padding-left: 25px;
}

.nav-button {
    margin: 5px;
    padding: 10px 15px;
    border: 2px solid #222;
    border-radius: 7px;
    font-family: 'Merienda One', cursive;

    
    font-size: 11pt;
    
    background: transparent;
    color: #222;
    
    transition: background ease-in-out 0.1s;
}

.nav-button:hover {
    background: rgba(255, 255, 0, 0.9);
    cursor: pointer;
}

.loading-icon {
    margin-top: 50px;
    text-align: center;
    
    font-size: 200%;
}

